<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    {% if page.date %}
      <meta property="article:published_time" content="{{ page.date | date: "%FT%TZ" }}" />
    {% endif %}

    <link rel="shortcut icon" type="image/svg" href="{{ "/favicon.svg" | prepend: site.baseurl }}">

    <title>{{ page.title }} - {{ site.title }}</title>

    <style>
      {% include main.css %}
    </style>
  </head>

  <body>
    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
